.wrapper{
    display: flex;
    flex-direction: column;
}

.field{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.main_buttons{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.field_label{
    margin-left: 10px;
    margin-right: 20px;
}

.select_field{
    
}